
 <div class="container">

    <div class="grid-container">

	    <div class="grid-item ">
	        <div class="paper">
		        <h1 class="title">
		         Bienvenue dans notre Système <br>
		         de Gestion Scolaire
		        </h1>
		        <p class="text">
		         Optimisez la gestion scolaire en intégrant la gestion du matériel essentiel, tels que les meubles, téléphones fixes, imprimantes, et bien plus encore. Notre système permet de gérer efficacement les stocks et l'utilisation du matériel, garantissant ainsi un environnement scolaire fluide et fonctionnel. 
		        </p>
		        <div class="box">
		          <a [routerLink]="['/login']" class="link">
		            <button class="button">
		              Connexion
		            </button>
		          </a>
		          
		          <p class="text">
		            Vous n'avez pas de compte ?
		            <a [routerLink]="['/register']"  class="signup-link">Inscrivez-vous</a>
		          </p>
		        </div>
	      	</div>
	    </div>
    </div>
    <div class="image-container">
	  <img src="assets/students.svg" alt="students" style="width: 500px; height: auto;">
	</div>
</div>

