.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-container {
  width: 100%;
  max-width: 500px;
}

.register-form {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-heading {
  font-size: 24px;
  color: #2c2143;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-subheading {
  font-size: 16px;
  margin-bottom: 20px;
}